<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net461" />
  <package id="Ceras" version="4.1.7" targetFramework="net461" />
  <package id="ColorMinePortable" version="2.0.1" targetFramework="net461" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="2.0.6" targetFramework="net461" />
  <package id="Memento" version="1.2.1" targetFramework="net461" />
  <package id="NetMQ" version="4.0.0.207" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>